<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EvolveU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
  <button id="json" class="but">JSON</button>
  <button id="array" class="but">ARRAY</button>
  <button id="object" class="but">OBJECT</button>
  <button id="divbuilder" class="but">DIV BUILDER</button>
  <button id="request" class="but">REQUEST</button>
  <div class="top">
    <textarea name="top" id="top-input"></textarea>
  </div>
  <div class="half">
    LEFT
  </div>
  <div class="half">
    RIGHT
  </div>
  <div class="bottom">
    BOTTOM
  </div>
  <div id="divHolder">

  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
</body>
</html>