.top {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  overflow: hidden;
}

.half {
  text-align: center;
  float: left;
  width: 50%;
  min-height: 200px;
  background-color: peachpuff;
  border: 1px solid black;
  box-sizing: border-box;
}

.bottom {
  clear: both;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

#top-input {
  width: 100%;
  height: 100%;
}

.but {
  padding: 20px;
}

.individualBlock {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin: 5px;
  float: left;
  width: 150px;
  height: 150px;
  background-color: grey;
  font-size: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 16px;
}

.over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}